.logein-button{
    background-color: #89CFF0;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.4 background-color;
}
.logein-button:hover{
    background-color: red;
    color: #1eCfF0;
}